@import '../variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 40px;
  border-radius: $rounded-md;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: .4s ease-in-out;

  &_normal {
    width: 160px;
  }

  &_primary {
    background: $primary-color;
    color: $text-white;

    &:hover {
      background: $primary-color-hover;
    }
  }

  &_success {
    background: $success-color;
    color: $text-white;

    &:hover {
      background: $success-color-hover;
    }
  }

  &_error {
    background: $error-color;
    color: $text-white;

    &:hover {
      background: $error-color-hover;
    }
  }
}
