@import '../variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 40px;
  border-radius: $rounded-md;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: .4s ease-in-out;
  padding: 0 1rem;

  &_normal {
    width: 180px;

    @media (max-width: 768px) {
      width: 120px;
    }
  }

  &_big {
    width: 210px;
  }

  &_justify-start {
    justify-content: flex-start;
  }

  &_primary {
    background: $primary-color;
    color: $text-white;

    &:hover {
      background: $primary-color-hover;
    }
  }

  &_outline {
    background: #fff;
    border: thin solid $primary-color;
    color: $primary-color;

    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }

  &_success {
    background: $success-color;
    color: $text-white;

    &:hover {
      background: $success-color-hover;
    }
  }

  &_error {
    background: $error-color;
    color: $text-white;

    &:hover {
      background: $error-color-hover;
    }
  }
}
