@import '../variables';

.container {
  width: 100%;
  max-width: 100%;

  &_bg-white {
    background: #fff;
  }

  &_rounded-md {
    border-radius: $rounded-md;
  }

  &_padding-30 {
    padding: 30px;
  }

  &_h-full {
    height: 100%;
  }
}
