@import './_variables';
@import './mixins/generate';

body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: 'Inter', sans-serif;
}

#app {
  display: flex;
  min-height: 100vh;
  padding: 45px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

// Generate margin's
$rules: [
  [ml, margin-left],
  [mt, margin-top],
  [mb, margin-bottom],
  [mr, margin-right],
];

@each $item in $rules {
  @include generate(nth($item, 1), nth($item, 2));
}

.mt-auto {
  margin-top: auto;
}

.downloadFile { display: none; }
