$primary-color: #A1C4FD;
$secondary-color: #ECECEC;
$error-color: #c74f34;
$success-color: #79E190;

$primary-color-hover: #7196d1;
$success-color-hover: #69CD7F;
$error-color-hover: #B2452D;

$text-primary: #363636;
$text-secondary: #676767;
$text-white: #fff;

$rounded-md: 8px;
$rounded-full: 100%;
